@use "../styles/mixins" as *;
#privacy__policy {
	h1,
	h2,
	h3,
	p,
	li {
		margin: 0;
		padding: 0;
	}
	h1 {
		width: 100%;
		text-align: center;
		margin-bottom: var(--space-6);
	}
	.last__updated {
		margin-bottom: var(--space-10);
		width: 100%;
		font-weight: 200;
		text-align: center;
	}
	.pp-section {
		margin: var(--space-10) 0;
		@include flex-column;
		justify-content: center;
		align-items: center;
		gap: var(--space-10);
	}
}
